---
import { Picture } from "@astrojs/image/components";
import logo from "../../assets/logo-when-moon.png";

const url = new URL(Astro.request.url);
---

<script>
	import { toggleClass } from "@/utils";

	document.addEventListener("DOMContentLoaded", () => {
		const header = document.getElementById("main-header") as HTMLElement;
		const toggleMenuButton = document.getElementById("toggle-navigation-menu") as HTMLButtonElement;
		let menuOpen = false;

		toggleMenuButton.addEventListener("click", () => {
			toggleClass(header, "menu-open");
			menuOpen = !menuOpen;
			toggleMenuButton.setAttribute("aria-expanded", menuOpen.toString());
		});
	});
</script>

<header id="main-header" class="group relative mb-20 flex items-center">
	<div class="flex">
		<a
			href="/"
			class="inline-flex items-center grayscale hover:filter-none sm:relative sm:inline-block"
			aria-current={url.pathname === "/" ? "page" : false}
		>
			<Picture
				src={logo}
				widths={[200, 400, 800]}
				sizes="(max-width: 800px) 33vw, 200px"
				formats={["png"]}
				alt="The when moon logo"
			/>
		</a>
	</div>
</header>
